node_modules/
.env
dist/
dist-electron/
__pycache__/

python-embed/

CONVORBIRE CU CLAUDE.txt

key.txt

*.txt

CONVORBIRE CU CLAUDE.txt

key.txt

*.txt

CONVORBIRE CU CLAUDE.txt

key.txt

*.txt

primareteta/

backend_dist/

build/

data/

retetar_api.py

retetar_api.py

retetar_api.py
aaa.py
*.py
*.db
*.env

retetar_api.py
aaa.py
*.py
*.db
